In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import re

#### Import the data and get a high-level picture

In [11]:
df = pd.read_csv('sales.csv')
df.head()

,order_id,name,ordered_at,price,quantity,line_total
0,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,3,$10.50
1,10000,"""ICE CREAM"" Peanut Fudge",2018-01-01 11:30:00,$3.50,1,$3.50
2,10001,"""SORBET"" Raspberry",2018-01-01 12:14:54,$2.50,2,$5.00
3,10001,NaN,2018-01-01 12:14:54,$1.50,1,$1.50
4,10001,"""CONE"" Dipped Waffle Cone",2018-01-01 12:14:54,$3.50,1,$3.50

In [3]:
df.shape

(29922, 6)

In [4]:
df.dtypes

order_id       int64
name          object
ordered_at    object
price         object
quantity       int64
line_total    object
dtype: object

#### TODO: Fix column datatypes

Change ordered_at to datetime

Change price and line_total to float

In [ ]:
df["ordered_at"] = pd.to_datetime

In [5]:
df.dtypes

order_id       int64
name          object
ordered_at    object
price         object
quantity       int64
line_total    object
dtype: object

#### TODO: drop if duplicated or null

In [6]:
df[df.duplicated()].shape[0]

538

In [7]:
df.isnull().sum()

order_id         0
name          1488
ordered_at       0
price            0
quantity         0
line_total       0
dtype: int64

In [8]:
df[df['name'].isnull()].head()

    order_id name           ordered_at  price  quantity line_total
3      10001  NaN  2018-01-01 12:14:54  $1.50         1      $1.50
6      10002  NaN  2018-01-01 12:23:09  $3.00         3      $9.00
27     10007  NaN  2018-01-01 15:03:17  $2.50         1      $2.50
77     10026  NaN  2018-01-02 03:25:40  $0.50         2      $1.00
88     10031  NaN  2018-01-02 05:45:48  $3.50         3     $10.50

#### Sanity check for value ranges and to check assumptions

In [9]:
df[(df['price'] * df['quantity']) != df['line_total']].shape[0]

19924

In [10]:
df[df['line_total'] < 0].shape[0]

TypeError: '<' not supported between instances of 'str' and 'int'

#### TODO: 
Set line_total = price * quantity if different
Remove if line total < 0

In [ ]:
df.describe()

#### TODO: Get value between "" in name and put it in category column

In [ ]:
df.head()

#### Analysis, finally!

In [ ]:
f, ax = plt.subplots(figsize=(10, 6))
df.groupby('name')['line_total'].sum().sort_values(ascending=False).head(10).plot(kind='bar')
f.autofmt_xdate()
plt.show()